body {
    background-color: black;
}

.title-proveedor {
    text-align: center;
    margin-top: 4px;
    color: rgb(19, 18, 18);
}

.table-proveedor {
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(246, 245, 245);
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

button{
    border-radius: 20px;
    background-color: #d6d6d6;
    color: black;
    padding: 3px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 18px 2px;
    cursor: pointer;
    text-decoration: none;
}


button a {
    text-decoration: none;
    color: inherit;
}

.img-proveedores{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    height: 200px;
}

.boton-proveedor{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    
}

.boton_eliminar{
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 1px;
    cursor: pointer;
    text-decoration: none
}

.boton_editar{
    background-color: rgb(7, 99, 38);
    color: white;
    border-radius: 20px;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 1px;
    cursor: pointer;
    text-decoration: none
}

