body{
    background-color: black;
}
.card {
    background-color: rgb(255, 254, 254);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto 0;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    color: rgb(3, 3, 3);
    text-align: center;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: #096f03;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.img-proveedor{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    height: 200px;
    mask-image: linear-gradient(
        black 80%,
        transparent
        );
    }
    
    .boton-volver{
        background-color: rgb(10, 86, 250);
        color: rgb(248, 245, 245);
        border-radius: 10px;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 1px;
        cursor: pointer;
        text-decoration: none
    }

.error {
    color: red;
}