{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/productos.css' %}">
</head>
<body>
    <div class="title-producto">
        <h1>Lista de productos</h1>
    </div>
    <div class="table-producto">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Proveedor</th>
                    <th>Acciones</th> 
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.proveedor.nombre }}</td>
                    <td>
                        <form action="{% url 'producto_eliminar' producto.pk %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input class="boton_eliminar" type="submit" name="eliminar" value="Eliminar">
                            <input class="boton_editar" type="submit" name="editar" value="Editar">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="boton-producto">
        <button><a href="{% url 'index' %}">HOME</a></button>
    </div>
</body>
</html>
