{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear un proveedor</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/proveedor-crear.css' %}">
</head>
<body>
    <div class="img-proveedores">
        <img src="https://firebasestorage.googleapis.com/v0/b/imagenes-memo.appspot.com/o/chica%20con%20tabla.png?alt=media&token=3696578e-f90b-47a8-94cf-aa950028d145" alt="imagen-mujer-con-tabla">
    </div>
    <div class="card">
        <h1>Crear proveedor</h1>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
        <form id="proveedor_form" action="" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" value="{{ nombre }}">
            </div>
            <div class="input-group">
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" id="apellido" placeholder="Apellido" value="{{ apellido }}">
            </div>
            <div class="input-group">
                <label for="dni">DNI:</label>
                <input type="number" name="dni" id="dni" placeholder="DNI" value="{{ dni }}">
            </div>
            <input type="submit" value="Crear">
        </form>
    </div>
    <div class="boton-proveedor">
        <button><a href="{% url 'index' %}">HOME</a></button>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("proveedor_form");
            form.addEventListener("submit", function (event) {
                var nombre = document.getElementById("nombre").value;
                var apellido = document.getElementById("apellido").value;
                var dni = document.getElementById("dni").value;

                if (nombre.trim() === "" || apellido.trim() === "" || dni.trim() === "") {
                    alert("Por favor, complete todos los campos.");
                    event.preventDefault(); // Evitar que el formulario se envíe
                }
            });
        });
    </script>
</body>
</html>
