{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Proveedor</title>
  
    <link rel="stylesheet" type="text/css" href="{% static 'css/proveedor_editar.css' %}">
</head>
<body>
    <div class="img-proveedor">
        <img src="https://firebasestorage.googleapis.com/v0/b/imagenes-memo.appspot.com/o/editar2.png?alt=media&token=3499545c-874f-4e50-855c-afe29ec70391" alt="imagen-editar-proveedor">
    </div>
    <div class="card">
        <h1 class="title">Editar Proveedor</h1>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
        <form action="{% url 'proveedor_editar' proveedor.pk %}" method="post">
            {% csrf_token %}
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value="{{ proveedor.nombre }}"><br>
            
            <label for="apellido">Apellido:</label><br>
            <input type="text" id="apellido" name="apellido" value="{{ proveedor.apellido }}"><br>
            
            <label for="dni">DNI:</label><br>
            <input type="text" id="dni" name="dni" value="{{ proveedor.dni }}"><br>
            
            <input type="submit" value="Guardar Cambios">
        </form>
        <button class="boton-volver"><a href="{% url 'proveedor_list' %}">Volver proveedores</a></button>
    </div>
</body>
</html>
